/* Global */
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #f4cbc9;
  --color-black: #141414;
  --color-dark-gray: #4d4d4d;
  --color-light-gray: #c4c4c4;
  --color-mint: #8cc5d0;

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-raidus: 6px;

  /* animation */
  --animation-duration: 300ms;
  /* 사용자가 답답함을 느끼지 않으며 재미를 느낄정도의 시간 25ms ~ 35ms */

  /* boder-raius */
  --border-raidus: 10px 10px;

  /* margin */
  --margin-40: 40px;
  --margin-20: 20px;
  --margin-12: 12px;

  /* padding */
  --padding-50: 50px;
  --padding-20: 20px;
}

/* universial tag */
* {
  box-sizing: border-box;
  /* 패딩을 줘도 박스 사이즈가 동일하도록 (즉, 패딩이 박스내부로 적용되도록)*/
}

/* Typography */
/* 전역에 적용되는 재사용되는 항목들 */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-dark-gray);
  margin: 14px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-gray);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-gray);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-gray);
  margin: 4px 0px;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default; /*커서가 텍스트 위에 올라가도 마우스포인터 모양이 텍스트 입력모양으로 변하지 않도록 설정*/
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: var(--color-dark-gray);
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* section common */
.section {
  text-align: center;
  padding: var(--padding-50);
  margin: auto;
}

/* 내용물이 계속 옆으로 커지지 않도록 width를 제한(텍스트가 옆으로 퍼지는 현상)
제한을 두려는 section만 따로 적용하려고 따로 뺌.
이 요소가 배경최대사이즈에 제한을 준거임 (skills)*/
.section__container {
  /* 컴퓨터에서 보기 좋은 최대 사이즈는 1200px 이지만 나는 글씨가 더 작게 나왔으면 하니 줄일거야*/
  max-width: 1000px;
  margin: auto;
}

/* navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  position: fixed; /*navbar 상단고정*/
  width: 100%;

  color: var(--color-dark-gray);
  background-color: transparent;
  transition: all var(--animation-duration) ease-in;
}

#navbar.fixed {
  background-color: var(--color-pink);
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  display: flex;
  align-items: center;
  margin: 0 var(--margin-20);
  /* margin: var(--margin-20); */
  /* margin: auto;
  이렇게 하면 스크린 사이즈가 줄면서 로고가 중간으로 내려감
  margin-left: var(--margin-20); */
}

.navbar__logo img {
  width: 30px;
  height: 30px;
  /* vertical-align: middle; */
  /* default: 아래쪽 모서리가 텍스크 기준선이 됨. 따라서 다른 텍스트와 수직라인을 맞추기 위해 조건을 바꿔줘야함. */
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-regular);
}

.navbar__menu__item {
  padding: 8px 10px;
  margin: 0px 8px;
  cursor: pointer; /*메뉴에 커서가 올라가면 손가락으로 바뀌도록*/
}

.navbar__menu__item.active {
  border-bottom: 2px solid var(--color-dark-gray);
}

.navbar__menu__item:hover {
  background-color: var(--color-mint);
  border-radius: 0 var(--size-border-raidus);
}

/* toggle btn */
.navbar__toggleBtn {
  position: absolute;
  right: 32px;
  top: 20px;
  font-size: var(--font-medium);
  color: var(--color-dark-gray);
  display: none;
}

/* home */
#home {
  background: url('imgs/background/backgroud-bottom.png') center/cover no-repeat;
  padding: var(--padding-50);
  text-align: center;
  color: var(--color-dark-gray);
  padding-top: 100px; /*navbar 자리 확보를 위해 패딩을 준다*/
}

.home__avatar {
  width: 420px;
  height: 420px;
  border-radius: 50%;
  border: 1px solid var(--color-dark-white);
}

.home__contact {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  padding: 8px;
  margin: 16px;
  text-decoration: none;
  color: var(--color-dark-gray);
  border: 2px solid var(--color-dark-gray);
  border-radius: var(--size-border-raidus);
  text-align: center;
}

.home__contact:hover {
  background-color: var(--color-pink);
}

/* about me */
.about__majors {
  display: flex;
  justify-content: space-evenly;
  color: var(--color-dark-gray);
  padding: var(--padding-50);
}

.major {
  text-align: center;
}

.major__icon {
  font-size: 80px;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 90%;
  background-color: var(--color-mint);
  text-align: center;
  color: var(--color-light-white);
}

/* icon에 마우스가 올라오면 i에게 아래 효과를 적용시켜줘 */
.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.2, 1.2);
}

/* hover 안에 애니메이션을 넣으면 포인터가 빠질 때 애니메이션이 없음. */
.major__icon i {
  transition: all var(--animation-duration) ease-in-out;
}

.major__title {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  margin-top: 12px;
}

.job {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border-top: 1px solid var(--color-light-gray);
  padding: var(--padding-50);
}

.job__logo {
  width: 300px;
  height: 100px;
  border: 1px solid black;
}

.job__info {
  margin-left: var(--margin-20);
  text-align: left;
}

.job__description {
  margin-top: var(--margin-12);
}

#skills {
  background: url('imgs/background/background-gradation-bottom.png')
    center/cover no-repeat;
}

.skillset {
  display: flex;
  justify-content: space-between;
  margin-top: var(--margin-20);
}

.skillset__right {
  background-color: var(--color-light-gray);
  flex-basis: 70%;
  /* 박스가 작아서 flex적용 시 너무 작게 구현됨. 이를 위해 기준을 설정해줌 */
  border-radius: var(--border-raidus);
  padding: 20px;
  margin: var(--margin-12);
}

.skillset__left {
  background-color: var(--color-light-gray);
  flex-basis: 30%;
  border-radius: var(--border-raidus);
  padding: 20px;
  margin: var(--margin-12);
}

.skill {
  padding: 20px;
  margin: var(--margin-12);
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  background-color: var(--color-pink);
  width: 100%;
  height: 20px;
  border-radius: var(--border-raidus);
}

.skill__value {
  background-color: var(--color-dark-gray);
  height: 20px;
  border-radius: var(--border-raidus);
}

.work__categories {
  margin: var(--margin-20);
  text-align: center;
}

.category__btn {
  text-align: center;
  color: var(--color-dark-gray);
  font-size: var(--font-samll);
  border: 1px solid var(--color-pink);
  border-radius: var(--border-raidus);
  /* 가로패딩을 넓게주면 width를 따로 줄 필요가 없구나.
  하지만 나는 박스 사이즈를 모두 맞추고 싶으니 width를 줄래 */
  width: 180px;
  padding: 4px;
  margin: 12px;
}

/* categoryBtn이 active이고 hover됐을 때 */
.category__btn.active,
.category__btn:hover {
  background-color: var(--color-pink);
}

/* categoryCount가 active이고 btn이 hover됐을 때 안에 count만 변경*/
.category__count.active,
.category__btn:hover .category__count {
  background-color: var(--color-mint);
}

/* btn이 active인 count가 btn이 hover됐을 때 안에 count만 변경*/
.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  margin: 4px;
  border: 1px double var(--color-light-gray);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  /* span을 block으로 바꿈 */
  display: inline-block;
  /* 세로정렬맞추기 */
  line-height: 24px;

  position: relative;
  top: -20px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

/* projects */

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--padding-20);
}

/* 박스크기를 만듦 */
.project {
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: #f4cbc9;
  position: relative;
}

/* 담겨져있는 박스크기가 최대크기가 되도록 */
.project__img {
  width: 100%;
  height: 100%;
}

/* 위치를 어떻게 지정해야할지 모르겠어  */
.project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--color-light-white);
  background-color: var(--color-black);

  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

/* 난 백그라운드 투명조를 조절할 생각을 했는데 위에 올라가는 이미지의 투명도를 조절하면 됨. */

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-light-white);
}

.project__description h3:after {
  display: block;
  content: '';
  width: 26px;
  height: 2px;
  background-color: var(--color-dark-white);

  /* 오른쪽으로 가 있는 바를 중앙으로 옮기는 법 */
  position: relative;
  left: 50%;
  margin-left: -13px; /*width의 절반*/
  margin-top: 8px;
}

/* testimonials */

#testimonials {
  background: url('imgs/background/background-gradation-bottom.png') no-repeat
    center/cover;
}

.testimonial {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-20);
}

/* 똑같은 조건의 박스 중 하나만 방향을 reverse시키고 싶어 reverse라는 클래스를 추가 */
.testimonials .reverse {
  flex-direction: row-reverse;
}

.testimonial__avatar {
  border-radius: 50%;
  margin: 0 var(--margin-20);
  width: 150px;
  height: 150px;
}

.testimonial__description {
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-raidus);
  background-color: var(--color-mint);
}

.testimonial__description a {
  color: var(--color-light-white);
}

/* contact */

.contact {
  padding: var(--padding-20);
}

.socials i {
  font-size: var(--font-large);
  padding: 10px;
  transition: all var(--animation-duration) ease-in;
}

.contacts a:hover,
.socials i:hover {
  transform: scale(1.1);
  color: var(--color-pink);
}

@media screen and (max-width: 768px) {
  .navbar__toggleBtn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    /* screen사이즈가 줄어들 때, 로고영역 크기가 동일하게 유지되도록 */
    line-height: 78.5px;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    text-align: center;
  }

  .navbar__menu.active {
    display: flex;
  }

  .about__majors,
  .skillset {
    flex-direction: column;
    justify-content: center;
  }

  .major {
    margin: var(--margin-12);
  }

  .major__icon {
    margin: auto;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial__avatar {
    width: 60px;
    height: 60px;
  }
}
