/* Global */
:root {
  /* color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #f4cbc9;
  --color-black: #141414;
  --color-dark-gray: #4d4d4d;
  --color-light-gray: #c4c4c4;
  --color-mint: #8cc5d0;

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-raidus: 6px;

  /* animation */
  --animation-duration: 300ms;
  /* 사용자가 답답함을 느끼지 않으며 재미를 느낄정도의 시간 250ms ~ 350ms */

  /* boder-raius */
  --border-raidus: 10px 10px;
}

/* universial tag */
* {
  box-sizing: border-box;
  /* 패딩을 줘도 박스 사이즈가 동일하도록 (즉, 패딩이 박스내부로 적용되도록)*/
}

/* Typography */
/* 전역에 적용되는 재사용되는 항목들 */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-dark-gray);
  margin: 14px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-dark-gray);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-gray);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-dark-gray);
  margin: 4px 0px;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  cursor: default; /*커서가 텍스트 위에 올라가도 마우스포인터 모양이 텍스트 입력모양으로 변하지 않도록 설정*/
}

ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: var(--color-dark-gray);
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* section common */
.section {
  text-align: center;
  padding: 50px;
  margin: auto;
}

/* 내용물이 계속 옆으로 커지지 않도록 width를 제한(텍스트가 옆으로 퍼지는 현상)
제한을 두려는 section만 따로 적용하려고 따로 뺌.
이 요소가 배경최대사이즈에 제한을 준거임 (skills)*/
.section__container {
  /* 컴퓨터에서 보기 좋은 최대 사이즈는 1200px 이지만 나는 글씨가 더 작게 나왔으면 하니 줄일거야*/
  max-width: 1000px;
  margin: auto;
}

/* navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-regular);
  color: var(--color-dark-gray);
  background-color: var(--color-pink);
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: auto 0;
}

.navbar__logo img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  /* default: 아래쪽 모서리가 텍스크 기준선이 됨. 따라서 다른 텍스트와 수직라인을 맞추기 위해 조건을 바꿔줘야함. */
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-regular);
}

.navbar__menu__item {
  padding: 8px 14px;
  margin: 0px 8px;
  cursor: pointer; /*메뉴에 커서가 올라가면 손가락으로 바뀌도록*/
}

.navbar__menu__item.active {
  border-bottom: 2px solid var(--color-dark-gray);
}

.navbar__menu__item:hover {
  background-color: var(--color-mint);
  border-radius: 0 var(--size-border-raidus);
}

/* home */
#home {
  background: url('imgs/background/backgroud-bottom.png') center/cover no-repeat;
  padding: 40px;
  text-align: center;
  color: var(--color-dark-gray);
}

.home__avatar {
  width: 420px;
  height: 420px;
  border-radius: 90%;
  border: 1px solid var(--color-dark-white);
}

.home__contact {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  padding: 8px;
  margin: 16px;
  text-decoration: none;
  color: var(--color-dark-gray);
  border: 2px solid var(--color-dark-gray);
  border-radius: var(--size-border-raidus);
  text-align: center;
}

.home__contact:hover {
  background-color: var(--color-pink);
}

/* about me */

.about__majors {
  display: flex;
  justify-content: space-evenly;
  color: var(--color-dark-gray);
  padding: 50px;
}

.major {
  text-align: center;
}

.major__icon {
  font-size: 80px;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 90%;
  background-color: var(--color-mint);
  text-align: center;
  color: var(--color-light-white);
}

/* icon에 마우스가 올라오면 i에게 아래 효과를 적용시켜줘 */
.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.2, 1.2);
}

/* hover 안에 애니메이션을 넣으면 포인터가 빠질 때 애니메이션이 없음. */
.major__icon i {
  transition: all var(--animation-duration) ease-in-out;
}

.major__title {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
  margin-top: 12px;
}

.job {
  display: flex;
  text-align: center;
  justify-content: space-between;
  border-top: 1px solid var(--color-light-gray);
  padding: 50px;
}

.job__logo {
  width: 300px;
  height: 100px;
  border: 1px solid black;
}

.job__info {
  margin: 0 16px;
  text-align: left;
}

#skills {
  background: url('imgs/background/background-gradation-bottom.png')
    center/cover no-repeat;
}

.skillset {
  display: flex;
  justify-content: space-between;
}

.skillset__right {
  background-color: var(--color-light-gray);
  flex-basis: 70%;
  /* 박스가 작아서 flex적용 시 너무 작게 구현됨. 이를 위해 기준을 설정해줌 */
  margin: 20px;
  border-radius: var(--border-raidus);
}

.skillset__left {
  flex-basis: 30%;
  margin: 20px;
}

.skill {
  margin: 20px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.skill__bar {
  background-color: var(--color-pink);
  width: 100%;
  height: 20px;
  border-radius: var(--border-raidus);
}

.skill__value {
  background-color: var(--color-dark-gray);
  height: 20px;
  border-radius: var(--border-raidus);
}
